<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>DevOps Metrics</title>
<meta name="author" content="Sudheer Veeravalli">
<meta
	content="Display any CSV file as a searchable, filterable, pretty HTML table" />

<!-- Bootstrap core CSS -->
<link href="./../css/bootstrap.min.css" rel="stylesheet">
<link href="./../css/dataTables.bootstrap.css" rel="stylesheet">
<link href="./../css/custom.css" rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="./../js/scroll.js"></script>
<link href="./../css/scroll.css" rel="stylesheet">

</head>

<body>
	<div align="center">
		<div class="header">
			<div>			
				<h2>DevOps Metrics</h2>
				<div align="left">
					<img alt="Home" src="./../images/home.png" onclick="location.href='./../index.html'" title="Home"></img>
				</div>
			</div>
			<div></div>
			<div class="header-logo-container">
				<img class="header-logo" src="./../images/predix_logo.svg"></img>
			</div>
		</div>
	</div>	

	<div class="container-fluid">
	    <br/>
		<output class="redFont">* All Durations in mins.secs</output>
		<div id='table-container'></div>
	</div>

	<footer class='footer'>
		<hr />
		<div class='container-fluid'>
			<a href="./Release_History.html">Release History</a>
			<p class='pull-right'>
				Capability Demonstration by 
				<a href='https://github.com/veersudhir83'>Sudheer Veeravalli</a>
			</p>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="./../js/jquery.min.js"></script>
	<script src="./../js/bootstrap.min.js"></script>
	<script src="./../js/jquery.csv.min.js"></script>
	<script src="./../js/jquery.dataTables.min.js"></script>
	<script src="./../js/dataTables.bootstrap.js"></script>
	<script src='./../js/csv_to_html_table.js'></script>

	<script>
      init_table({
        csv_path: './../data/DEVOPS_METRICS.CSV',
        element: 'table-container',
        allow_download: true,
        csv_options: {separator: ',', delimiter: '"'},
        datatables_options: {"paging": true}
      });
      
      
    </script>    
</body>
</html>
