.scrollindicator{
    width: 100%;
    height: 7px; /* height of progress bar */
    display: block;
    background: yellow;
    left: 0;
    bottom: 0; /* dock progress bar to bottom of page (change to "top" for top instead) */
    cursor: pointer;
    position: fixed;
    z-index: 1000000;
    visibility: hidden;
    -webkit-transition: height .2s ease;
    transition: height .2s ease;
}

.scrollprogress{
    position: absolute;
    width: 100%;
    height: 100%;
    background: purple; /* background color of progress bar */
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    =-webkit-transition: -webkit-transform .4s ease; 
    transition: transform .4s ease; /* animate progress bar? Remove to disable */
}